h1,
.h1 {
  font-size: 5em; // 80px
  font-weight: 500;
  line-height: 1.075em;
  margin: 0 0 0.5em 0;
  letter-spacing: -0.04em;

  @media #{$ipadpro} {
    font-size: 3.5em;
  }

  @media #{$mob} {
    font-size: 2em;
    margin-bottom: 0.345em;
  }

  &.font-70 {
    @media #{$desktop} {
      font-size: 4.375em;
      letter-spacing: -0.02em;
    }
  }
}

h2,
.h2 {
  font-size: 4.375em; // 70px
  font-weight: 500;
  line-height: 1.028em;
  margin: 0 0 0.5em 0;
  letter-spacing: -0.04em;

  @media #{$ipadpro} {
    font-size: 2.5em;
  }

  @media #{$ipad} {
    font-size: 2em;
    margin-bottom: 0.545em;
  }
}

h3,
.h3 {
  font-size: 3.5em; // 56px
  font-weight: 500;
  line-height: 1.2857em;
  margin: 0 0 0.5em 0;
  letter-spacing: -0.04em;

  @media #{$ipadpro} {
    font-size: 1.75em;
  }

  &.font-50 {
    @media #{$desktop} {
      font-size: 3.125em; // 50px
      line-height: 1em;
    }
  }

  &.font-46 {
    @media #{$desktop} {
      font-size: 2.875em; // 46px
      line-height: 1em;
    }
  }
}

h4,
.h4 {
  font-size: 2.5em; // 40px
  font-weight: 500;
  line-height: 1.25em;
  margin: 0 0 0.5em 0;
  letter-spacing: -0.04em;

  @media #{$ipadpro} {
    font-size: 1.25em;
  }

  &.font-34 {
    @media #{$desktop} {
      font-size: 2.125em; // 34px
      line-height: 1.44117em;
      letter-spacing: -0.04em;
    }
  }

  &.font-30 {
    @media #{$desktop} {
      font-size: 1.875em;
      letter-spacing: -0.04em;
    }
  }
}

h5,
.h5 {
  font-size: 1.5em; // 24px
  font-weight: 500;
  line-height: 1.3em;
  margin: 0 0 0.5em 0;
  letter-spacing: -0.036em;

  @media #{$ipadpro} {
    font-size: 1.2em;
  }

  &.font-22 {
    @media #{$desktop} {
      font-size: 1.375em; // 22px
      line-height: 1.3181em;
      letter-spacing: -0.04em;
    }
  }
}

h6,
.h6 {
  font-size: 1.25em; // 20px
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 0 0.5em 0;

  @media #{$ipadpro} {
    font-size: 1.2em;
  }
}

p,
.p {
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 0 0 1.25em 0;
  // &:last-child {
  //   // margin: 0 0 1.4em 0;
  // }

  // strong {
  //   color: rgba(var( --primary-color), 1);
  // }

  @media #{$ipadpro} {
    font-size: 1em;
    margin-bottom: 1em;
  }
}