.content_img {
    margin-bottom: 3.75em;
}

.upper_primary-wrapper {
    margin-bottom: 3.75em;

    & p:last-child {
        margin: 0;
    }
}

.right_wrapper {
    background: rgb(var(--light-gray));
    padding: 3.1em 0 3.1em 3.1em;
    border-radius: 0.3125em;
    position: sticky;
    position: -webkit-sticky;
    top: 10px;

    .social__icon-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        grid-gap: 1.25em;
        margin-top: 1.25em;
        padding-bottom: 1.3125em;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 0;
        }

        .copy-wrapper__socials {
            ul {
                flex-direction: column;
                align-items: flex-start;

                li {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    grid-gap: 1.25em;
                }

                @media #{$ipad} {
                    flex-direction: row;
                    flex-wrap: wrap;
                    grid-gap: 1.875em;
                }
            }
        }
    }


    .social__icon-wrapper {
        &:after {
            content: none;
        }
    }

    @media #{$mob} {
        padding: 1.5em;
    }
}