.our-portfolio {
    .grid-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5em 2.625em;

        @media #{$desktop} {
            margin-top: 5.625em;
        }

        @media #{$ipad} {
            grid-gap: 1.5em;
        }

        @media #{$mob} {
            grid-template-columns: 1fr;
        }
    }

    .portfolio-card {
        .content-wrapper {
            margin-top: 1.375em;
        }
    }
}