.primary-color {
  color: rgba(var(--primary-color), 1);
}

.primary-bg {
  background-color: rgba(var(--primary-color), 1);
}


.secondary-color {
  color: rgba(var(--secondary-color), 1);
}

.secondary-bg {
  background-color: rgba(var(--secondary-color), 1);
}


.silver-color {
  color: rgb(var(--silver-color));
}

.silver-color-bg {
  background-color: rgb(var(--silver-color));
}

.offwhite-color {
  color: rgb(var(--offwhite));
}

.offwhite-color-bg {
  background-color: rgb(var(--offwhite));
}


.light-gray-color {
  color: rgb(var(--light-gray));
}

.light-gray-color-bg {
  background-color: rgb(var(--light-gray));
}








