:root {
  --primary-color: 0, 0, 0;
  --secondary-color: 255, 255, 255;
  --silver-color: 174, 180, 186;
  --offwhite: 250, 248, 244;
  --light-gray: 250, 250, 250;
  --dark-gray: 174, 180, 186
}






// NOTE: above colors will be used with rgb() & rgba()  function

// NOTE:  sample sass variable : i will not use this now.
// $primarycolor: var(--primary-color);

// font families
$basefont: "Basis Grotesque Pro";

$transition: all 0.5s ease;
$transition-linear: all 0.5s linear;
$transition-bounce: all 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);

// Media Sizes
// Mobile first approach
$tab: "(min-width:576px)";
$tabL: "(min-width:768px)";
$ipadL: "(min-width:992px)";
$ipadXL: "(min-width:1025px)";
$desktop: "(min-width:1200px)";

// Desktop first approach
$ipadpro: "(max-width:1199.98px)";
$ipad: "(max-width:991.98px)";
$mobL: "(max-width:767.98px)";
$mob: "(max-width:575.98px)";